<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="index.css" />
    <title>Home</title>
  </head>
  <body>
    <ul>
      <li><a href="/card-payments">Card Payments</a></li>
    </ul>
  </body>
</html>
