<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <ul>
      <li>
        Card Payments
        <ul>
          <li>
            <a href="/card-payments-prebuilt">Stripe Prebuilt Card Payments</a>
          </li>
          <li>
            <a href="/card-payments-custom">Stripe Custom Card Payments</a>
          </li>
        </ul>
      </li>
      <li>
        Save Cards
        <ul>
          <li>
            <a href="/card-saving-custom">Stripe Saving Card</a>
          </li>
        </ul>
      </li>
    </ul>
  </body>
</html>
