<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Payment Success</title>
  </head>
  <body>
    <h1>Your Payment is successfull!</h1>
    <a href="/">Go back to home</a>
  </body>
</html>
